body {
  margin-top: 10px !important;
  text-align: center;
}

.container-2 {
  border: 2px solid black;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-2 {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-box-container-2 img {
  padding: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}
footer {
  margin-top: 30rem;
}
